body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"] {
    display: block;
    width: 80%;
    padding: 8px 10px;
    border-radius: 3px;
   
  }
  
  #submit {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
        cursor: pointer;
  }


  .deleteBtn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #carListDiv {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  #carListHead {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #555;
  }
  
    /*
  #carList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #555;
  }
  */
  #carList li {
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    color: #333;
 

  }